@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.outer-wrapper {
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

@media screen and (min-width: 576px) {
  .outer-wrapper {
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: overlay;
    overflow-x: hidden;
    position: absolute;
    scroll-snap-type: y proximity;
  }
}
.page-content {
  display: flex;
  flex-direction: row;
  width: 500vw;
}

@media screen and (min-width: 576px) {
  .page-content {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
}
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  scroll-snap-align: start;
  width: 100vw;
}

section h1 {
  font-size: 5rem;
}

.page-1 {
  background-color: #111;
}

.page-2 {
  background-color: #1a1111;
}

.page-3 {
  background-color: #111a11;
}

.page-4 {
  background-color: #11111a;
}

.page-5 {
  background-color: #1a1a11;
}

@font-face {
  font-family: "Steelfish", sans-serif;
  src: url("../assets/fonts/steelfish.ttf");
}
.navbar {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 150px;
  z-index: 5000;
}

@media screen and (min-width: 576px) {
  .navbar {
    left: 0;
  }
}
.nav-wrapper {
  height: 100%;
  width: 100%;
}

.links-wrapper {
  align-items: flex-start;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .links-wrapper {
    left: 0;
  }
}
.nav-link {
  color: #fff;
  display: block;
  font-family: "Steelfish", sans-serif;
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-btn {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 5;
}

@media screen and (min-width: 576px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn-burger {
  background-color: white;
  display: block;
  height: 2px;
  width: 20px;
}

.menu-btn-burger::before, .menu-btn-burger::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: all 0.25s ease-in-out;
  width: 20px;
}

.menu-btn-burger::before {
  transform: translateY(-8px);
}

.menu-btn-burger::after {
  transform: translateY(8px);
}

.menu-btn-checkbox {
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
}

.menu-btn-checkbox:checked ~ .links-wrapper {
  left: 0;
}

.menu-btn.open .menu-btn-burger {
  background-color: transparent;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg);
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg);
}

::-webkit-scrollbar {
  display: none;
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-clip: padding-box;
}

:is(h1, h2, h3, h4, h5, h6) {
  color: #fff;
  font-family: "Steelfish", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}

body {
  color: #aaa;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
